extends layout

block layout-content
  header(class="jumbotron bg-primary")
    h1 #{h1Text}
    p Upload and resize an image to get the most common sizes used for the web
    a(href="/")
      img(src="/images/blocks.png", alt="vector blocks stacked inside bigger block")
  div(class="center")
    <input id="home-btn" type="button" onclick="location.href='/';" value="Upload An Image" />
    <input id="zip-btn" type="button" onclick="location.href='/zip-download';" value="Download Images" />
  div(class="center")
    ul(id="generated-images")
      each imgUrl in imgUrls
        - const imgName = imgUrl.split('/').slice(-1)[0].split('.')[0]
        - const dataTarget = '#' + imgName
        li
          button(type="button" class="btn btn-primary" data-toggle="modal" data-target=dataTarget)
            img(class="max-img-size" src=imgUrl alt=imgName)
          div(class="modal fade" id=imgName tabindex="-1" aria-label=imgName aria-hidden="true")
            div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
              div(class="modal-content")
                div(class="modal-header")
                  p #{imgName}
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                div(class="modal-body")
                  img(src=imgUrl alt=imgUrl)
